{% block menu %}
    <div class="menu">
        <ul class="menu-list">
            <div class="left">
                <li class="logo"><a href="{% url 'landing:index' %}">BLOGINO</a></li>
            </div>
            <div class="right">
                <li class="items"><a href="{% url 'landing:index' %}">Home</a> </li>
                {% if not user.is_authenticated %}
                    <li class="items">Signup</li>
                    <li class="items">Login</li>
                {% else %}
                    <li class="items"> <a href="{% url 'landing:dashboard' %}"> Dashboard </a></li>
                {% endif %}
                <div class="searching">
                    <input type="text" class="search" placeholder="Search">
                    <button class="search-button">Search</button>
                </div>
            </div>
        </ul>
    </div>
{% endblock %}