{% block menu %}
    <div class="menu">
        <ul class="menu-list">
            <div class="left">
                <li class="logo">BLOGINO</li>
            </div>
            <div class="right">
                <li class="items">Home</li>
                <li class="items">Signup</li>
                <li class="items">Login</li>
                <div class="searching">
                    <input type="text" class="search" placeholder="Search">
                    <button class="search-button">Search</button>
                </div>
            </div>
        </ul>
    </div>
{% endblock %}