{% block menu %}
    <div class="menu">
        <ul class="menu-list">
            <div class="left">
                <li class="logo" >BLOGINO</li>
                <div class="searching">
                    <i class='bx bx-search' style="color: gray;"></i>
                    <input type="text" class="search" placeholder="Search">
                    
                </div>
            </div>
            <div class="right">
                <li class="items">Home</li>
                <li class="items">Signup</li>
                <li class="items login">Log in</li>
                
            </div>
        </ul>
    </div>

{% endblock %}