{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing/css/components/menu.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/components/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/components/posts.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Parkinsans:wght@300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Blogino - {{ category.name }}</title>
</head>
<body>
    {% block menu %}
        {% include 'landing/components/menu.html' %}
    {% endblock %}

    {% block category %}
        {% include 'landing/components/sidebar.html' %}
    {% endblock %}
    
    {% block posts %}
        <div class="container mt-5">
            <h1 class="mb-4">Posts in "{{ category.name }}"</h1>
            {% if posts %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Content</th>
                            <th scope="col">Author</th>
                            <th scope="col">Category</th>
                            <th scope="col">Likes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <td><a href="{% url 'landing:post_detail' post.id %}" class="text-primary"> {{ post.title }} </a></td>
                                <td>{{ post.content|truncatewords:10|safe }}...</td>
                                <td>{{ post.user }}</td>
                                <td><a href="{% url 'landing:category' post.category.id %}" class="text-primary"> {{ post.category }} </a></td>
                                <td>
                                    {% if post.likes == 1 %}
                                        1 time
                                    {% else %}
                                        {{ post.likes }} times
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-warning">No posts available in this category.</p>
            {% endif %}
        </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
